*{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
body{
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
}
#p1{
    position: absolute;
    left: 28%;
    top: 13%;
}

p{  color: white;
    text-align: center;
}
span{ 
  color: rgb(255, 140, 0);

}
#p2{ color: white;
    position: absolute;
    left: 29%;
    top: 27%;
}
#output{ color: white;
    position: absolute;
    left: 50%;
    top: 34%;
}
#btn{
    font-size: 15px;
position: absolute;
top: 49%;
right: 44%;
background-color: transparent;
color: white;
outline: none;
border-radius: 6px;
border-color: rgb(255, 140, 0);
}
#btn:hover{
cursor: pointer;
background-color:rgb(255, 140, 0) ;
color: black;
box-shadow: 0 0 1px 1px rgb(245, 148, 30);
}